.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}

.title {
  // padding: 20px;
}

.references {
  margin: .8rem 0;

  ul {
    padding: 1.6rem;
  }
}

.h2 {
  margin-block: 20px;
}

.h3 {
  margin-block: 15px;
}

.list {
  padding: 2rem 3rem;
  border: 2px solid gainsboro;
  border-radius: 10px;

  li {
    margin-block: 1rem;
  }
}

.tocList {
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    list-style-type: none;

    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 0 10px;
    border: 2px solid gainsboro;

    border-radius: 10px;

    color: rgb(var(--foreground-rgb));
  }

  a {
    text-underline-offset: 10px;
  }
}

.section {
  width: 1200px;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 1.5rem;
  }

  .section {
    width: 90%;
  }
}